%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded": "false", "data-target": "#bs-example-navbar-collapse-1", "data-toggle": "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.navbar-brand
        Office Car Management
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Make New reservation", root_path 
        %li
          = link_to "My Reservations", reservations_path     
        %li
          = link_to "Users", users_path          
        %li
          = link_to "Add New Car", new_car_path