%table.table.table-hover
  %thead
    %tr
      %th #
      %th Make
      %th Taken At
      %th Taken Till
      %th
  %tbody
    - @reservations.each do |reservation|
      %tr 
        %td
        %td
          = reservation.car.make
        %td
          = reservation.taken_at
        %td
          = reservation.taken_till
        %td
          = link_to 'Destroy', reservation_path(reservation), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"